body {
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #101a23;
    color: white;
}

#auth-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    border: 1px solid #223649;
    ;
    box-shadow: 0 0 40px rgba(97, 218, 251, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #223649;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    color: white;
    font-size: 16px;
}

input::placeholder {
    color: #ccc;
}

button {
    background: #61dafb;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background: #0d80f2;
}

button .button-text {
    display: inline-block;
}

button.loading .button-text {
    display: none;
}

button.loading .button-loader {
    display: inline-block;
}

.button-loader {
    display: none;
    width: 14px;
    height: 14px;
    border: 2px solid #101a23;
    border-top: 2px solid #61dafb;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#auth-container p {
    margin: 10px 0;
}

#auth-container p a {
    color: #61dafb;
    text-decoration: none;
}

#auth-container p a:hover {
    text-decoration: underline;
}

#chat-container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: #101a23;
    overflow: hidden;
}

#chat-sidebar {
    width: 250px;
    background: #1a2733;
    padding: 1rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #223649;
    ;
    box-shadow: 0 0 40px rgba(97, 218, 251, 0.2);
}

#chat-history-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
}

#chat-history-list li {
    cursor: pointer;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background: #223649;
    border-radius: 4px;
}

#clear-history {
    margin-top: 1rem;
    padding: 0.5rem;
    background: #f35f4e;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#clear-history:hover {
    background: #c0392b;
}

#main-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 40px;
    background: #101a23;
    border-bottom: 1px solid #223649;
    box-shadow: 0 0 40px rgba(97, 218, 251, 0.2);
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    width: 16px;
    height: 16px;
    color: white;
}

header h1 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

#profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #61dafb;
    box-shadow: 0 0 10px rgba(97, 218, 251, 1);
    padding: 2px;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

#profile-img:hover {
    border: 2px solid #0d80f2;
    box-shadow: 0 0 40px rgba(13, 128, 242, 1);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 90px;
    right: 0;
    background: #1a2733;
    min-width: 160px;
    border: 1px solid #223649;
    box-shadow: 0 0 40px rgba(97, 218, 251, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background: #223649;
}

.dropdown-content .logout-btn:hover {
    background: #c0392b;
}

.dropdown-content i {
    margin-right: 10px;
    font-size: 16px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
}

.modal-content {
    background: #1a2733;
    margin: 1.5% auto;
    padding: 30px;
    width: 80%;
    max-width: 500px;
    border-radius: 15px;
    border: 1px solid #223649;
    ;
    box-shadow: 0 0 80px rgba(97, 218, 251, 0.2);
}

.close {
    color: #61dafb;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.close:hover,
.close:focus {
    color: #0d80f2;
    text-decoration: none;
    cursor: pointer;
}

#profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#profile-form input {
    background: #223649;
    border: none;
    padding: 12px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
}

#profile-form button {
    background: #0d80f2;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

#profile-form button:hover {
    background: #61dafb;
}

.form-input {
    outline: none;
}

.custom-file-input::file-selector-button {
    content: 'Choose Profile Picture';
    background-color: #0d80f2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.custom-file-input::file-selector-button:hover {
    background: #61dafb;
}

.danger-zone {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #223649;
}

#delete-account {
    background: #f35f4e;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

#delete-account:hover {
    background: #c0392b;
}

#chat-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px 160px;
    display: flex;
    flex-direction: column;
}

#chat-content h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 8px;
}

#chat-content>p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    color: #fff;
}

#chat-messages {
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 80%;
    margin-bottom: 16px;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 1.5;
}

.bot-message {
    align-self: flex-start;
    background: #223649;
}

.user-message {
    align-self: flex-end;
    background: #0d80f2;
}

.sender {
    font-size: 13px;
    color: #90adcb;
    margin-bottom: 4px;
}

#input-container {
    display: flex;
    padding: 12px 16px;
    background: #101a23;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

#user-input {
    flex-grow: 1;
    padding: 12px 16px;
    border: 1px solid #223649;
    border-radius: 12px;
    background: #223649;
    box-shadow: 0 0 20px rgba(97, 218, 251, 0.2);
    color: white;
    font-size: 16px;
    max-height: 150px;
    resize: none;
    overflow-y: hidden;
}

#user-input::placeholder {
    color: #90adcb;
}

#mic-btn {
    background: none;
    box-shadow: 0 0 2px rgba(97, 218, 251, 0.2);
    border: none;
    color: #90adcb;
    cursor: pointer;
    padding: 8px;
    margin-left: 8px;
    transition: all 0.3s ease-in-out;
}

#mic-btn:hover {
    color: #f35f4e;
}

#mic-btn.recording {
    color: #f35f4e;
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#send-btn {
    display: flex;
    align-items: center;
    background: #61dafb;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    margin-left: 8px;
    transition: all 0.3s ease-in-out;
}

#send-btn:hover {
    background: #0d80f2;
}

@media (max-width: 768px) {
    #chat-container {
        width: 100%;
        height: 100vh;
        border-radius: 0;
    }

    #chat-content {
        padding: 20px;
    }
}

/* Styles for the notification pop-ups */
#notification-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.notification {
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #223649;
    ;
    box-shadow: 0 0 40px rgba(97, 218, 251, 0.2);
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.notification-close {
    background: none;
    border: none;
    color: #61dafb;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
}

.notification-close:hover {
    background: none;
}

.notification-progress {
    background: rgba(97, 218, 251, 0.3);
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
}

.notification-progress-bar {
    background: #61dafb;
    height: 100%;
    width: 0;
    transition: width linear;
}

/* Styles for the confirmation pop-ups */
.confirmation {
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #223649;
    box-shadow: 0 0 40px rgba(97, 218, 251, 0.2);
    display: flex;
    flex-direction: column;
    width: 300px;
    position: relative;
}

.confirmation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.confirmation-close {
    background: none;
    border: none;
    color: #61dafb;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
}

.confirmation-close:hover {
    background: none;
}

.confirmation-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.confirmation-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-yes {
    background: #61dafb;
    color: white;
}

.confirm-no {
    background: #f35f4e;
    color: white;
}

.confirm-no:hover {
    background: #c0392b;
    color: white;
}

.success {
    border-left: 4px solid #4CAF50;
}

.error {
    border-left: 4px solid #f35f4e;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 26, 35, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #61dafb;
    border-top: 5px solid #1b2b38;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

/* Adjustments for mobile responsiveness */
@media (max-width: 768px) {
    #chat-container {
        flex-direction: column;
    }

    #chat-sidebar {
        width: 100%;
        height: auto;
        max-height: 200px;
    }

    #main-content {
        width: 100%;
    }

    #chat-content {
        padding: 20px;
    }

    .modal-content {
        width: 95%;
        margin: 5% auto;
    }
}